.custom-shape-divider-bottom-1748321996 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1748321996 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1748321996 .shape-fill {
  fill: #dbcfb9;
}


/* Mobil responsive */
@media (max-width: 768px) {
  .custom-shape-divider-bottom-1748321996 svg {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .custom-shape-divider-bottom-1748321996 svg {
    height: 50px;
  }
}